<div id="bio">
  <div id="frillyNonsense">
    <p>
      <i>"Casey spends the majority of his time helping the elderly cross the street.
      Writing code, solving problems, and building software completes him.
      His social network of choice is Wikipedia.
      When not in the crosswalk, you can find him building software or writing in the third person about himself.
      In a past life he’s earned his sales stripes cold-calling, knocking doors, pandering to retail folk, and just generally talking people into stuff.
      He’s actually not all that bad to work with, provided you like anti-jokes and no-frills people. He once microwaved a box of dog treats and macaroni noodles, just because."</i>
      <span>- Casey Hyde</span>
    </p>
  </div>
  <div class="sideBySide">
    <div id="stuffILike">
      <h1>I like these:</h1>
      <ul>
        <li>Solving problems</li>
        <li>Logic</li>
        <li>Puzzles</li>
        <li>Taking stuff apart</li>
        <li>Putting it back together</li>
        <li>Learning</li>
        <li>Fixing</li>
        <li>Talking people into things</li>
      </ul>
    </div>
    <div id="stuffIDontLike">
      <h1>I don't like these:</h1>
      <ul>
        <li>Frills</li>
        <li>Red Tape</li>
        <li>Cover letters</li>
        <li>Fancy Resumes</li>
        <li>Bios</li>
        <li>Cubicles</li>
        <li>Dictatorships</li>
        <li>Reality television</li>
      </ul>
    </div>
  </div>
</div>
