<div id="welcome">
  <div id="welcomeHi">
    <ul class="hi">
      <li>Hi!</li>
    </ul>
  </div>
  <div id="welcomeName">
    <ul class="name">
      <li>My name is Casey Hyde</li>
    </ul>
  </div>
  <div id="iGood" ng-show="landing.goods">
    <ul class="message">
      <li>I'm good at this stuff:</li>
    </ul>
  </div>
  <div id="goods" ng-show="landing.goods">
    <ul class="things">
      <li>Javasacript</li>
      <li>AngularJS</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>MongoDB</li>
      <li>PostgreSQL</li>
      <li>Amazon Web Services</li>
      <li>AWS.S3</li>
      <li>Firebase Authentication</li>
      <li>Angular Material</li>
      <li>Twitter Bootstrap</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Heroku Deployment</li>
      <li>Heroku Addons</li>
      <li>GIT</li>
      <li>jQuery</li>
    </ul>
  </div>
</div>
<img id="rightArrow" class="landingArrow" src="/assets/right-arrow.svg"/ ng-if="landing.arrow" ng-click="landing.arrowClick()">
