<div id="clickTip">
  <p class="animated wobble" ng-if="landing.clickMessage">(Click the potato)</p>
</div>
<img id="rightArrow" class="navImg" src="/assets/right-arrow.svg"/ ng-if="landing.arrow" ng-click="landing.arrowClick()">
<div id="welcome">
  <div id="welcomeHi">
    <ul class="hi">
      <li>Hi!</h1>
    </ul>
    <!-- <img id="landingPotato" class="animated rubberBand" src="/assets/potato.svg" ng-if="landing.potato" ng-click="landing.potatoClick()"> -->
  </div>
  <div id="welcomeName">
    <ul class="name">
      <li>My name is Casey Hyde</li>
    </ul>
  </div>
  <div id="iGood" ng-show="landing.goods">
    <ul class="message">
      <li>I'm good at this stuff:</li>
      <!-- <li>I like these things:</li> -->
    </ul>
  </div>
  <div id="iLike" ng-show="landing.likes">
    <ul class="message">
      <li>I like these things:</li>
    </ul>
  </div>
  <!-- <div id="iLike">
    <ul>
      <li class="message">I'm good at this stuff:</li>
    </ul>
  </div> -->

  <div id="goods" ng-show="landing.goods">
    <ul class="things">
      <li>Javasacript   AngularJS   Node.js   Express.js   MongoDB   PostgreSQL   Amazon Web Services   AWS.S3   Firebase Authentication   Angular Material   Twitter Bootstrap   HTML5   CSS3   Heroku Deployment   Heroku Addons   GIT   jQuery</li>
    </ul>
    <!-- <h5 id="welcomeMessage">Logic, puzzles, building, fixing, taking stuff apart, putting it back together, solving problems, more logic, triple nested for loops, complex conditionals, & writing efficient code are my jam.</h5>
    <h6 class="tlt">Frilly portfolio sites, UI/UX/front end work -- not so much.</h6> -->
  </div>
  <div id="likes" ng-show="landing.likes">
    <ul class="things">
      <li>Logic   Puzzles   Building   Fixing   Problem-Solving   Taking stuff apart   Putting it back together   More logic   Triple-nested-for-loops   Complex conditionals   Efficient code   Hunting   Gathering</li>
    </ul>
  </div>
</div>
