<div id="welcome">
  <div>
    <h1 id="welcomeHi">Hi!</h1>
  </div>
  <div>
    <h3 id="welcomeName">My name is Casey Hyde...</h3>
  </div>
  <div>
    <h5 id="iLike">I like these things:</h5>
  </div>
  <div id="likes">
    <ul class="test">
      <li class="texts">Logic</li>
      <li class="texts">Puzzles</li>
      <li class="texts">Building</li>
      <li class="texts">Fixing</li>
      <li class="texts">Problem Solving</li>
      <li class="texts">Taking stuff apart</li>
      <li class="texts">Putting it back together</li>
      <li class="texts">More logic</li>
      <li class="texts">Triple nested for loops</li>
      <li class="texts">Complex conditionals</li>
      <li class="texts">Writing efficient code</li>
      <li class="texts">Hunting</li>
      <li class="texts">Gathering</li>
    </ul>
    <!-- <h5 id="welcomeMessage">Logic, puzzles, building, fixing, taking stuff apart, putting it back together, solving problems, more logic, triple nested for loops, complex conditionals, & writing efficient code are my jam.</h5>
    <h6 class="tlt">Frilly portfolio sites, UI/UX/front end work -- not so much.</h6> -->
  </div>
</div>
