<!-- <div id="potato">
  <img class="navImg" src="/assets/potato.svg" alt="" ng-if="nav.show" ng-click="nav.backToLanding()">
</div> -->
<div id="hamburger" class="navImg" scroll ng-show="boolChangeClass" ng-click="nav.toggleHamburger()" ng-class="{ 'open' : nav.hamburgerOpen }">
  <span></span>
  <span></span>
  <span></span>
</div>
<template><h1>Hello world<h1></template>
<div id="tabs" ng-show="!boolChangeClass">
  <div class="tab" ng-if="nav.show" ng-class="{ 'highlighted' : nav.highlighted === 'life' }" ng-click="nav.redirect('life')">
    <span>Life</span>
  </div>
  <div class="tab" ng-if="nav.show" ng-class="{ 'highlighted' : nav.highlighted === 'projects' }" ng-click="nav.redirect('projects')">
    <span>Projects</span>
  </div>
  <div class="tab" ng-if="nav.show" ng-class="{ 'highlighted' : nav.highlighted === 'bio' }">
    <span>Bio</span>
  </div>
  <div class="tab" ng-if="nav.show" ng-class="{ 'highlighted' : nav.highlighted === 'resume' }">
    <span>Resume</span>
  </div>
  <div class="tab" ng-if="nav.show" ng-class="{ 'highlighted' : nav.highlighted === 'contact' }" ng-click="nav.scroll()">
    <span>Contact</span>
  </div>
</div>


<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
