<!-- ADS -->
<div id="projects">
  <div id="adsTitle" class="projectTitle">
    <span>AMERICAN DRAPERY SYSTEMS</span>
  </div>
  <div id="adsContainer" class="projectContainer">
    <div id="adsSpinners" class="spinners leftSpinners">
      <div id="adsSquare" class="square leftSquare">
        <div class="square1">
          <img id="ads" class="resize" src="/assets/bestestblinds.jpeg" alt="screenshot"/>
        </div>
      </div>
      <div id="adsSvgContainer" class="svgContainer">
        <div class="deg0"><img src="assets/svgs/angularjs.svg" alt="Angular Logo"></div>
        <div class="deg40"><img src="assets/svgs/aws.svg" alt="Amazon Web Services Logo"></div>
        <div class="deg80"><img src="assets/svgs/firebase.svg" alt="Firebase Logo"></div>
        <div class="deg120"><img src="assets/svgs/postgresql.svg" alt="PostgreSQL Logo"></div>
        <div class="deg160"><img src="assets/svgs/html5.svg" alt="html5 logo"></div>
        <div class="deg200"><img src="assets/svgs/css3.svg" alt="CSS3 Logo"></div>
        <div class="deg240"><img src="assets/svgs/javascript.svg" alt="Javascript Logo"></div>
        <div class="deg280"><img src="assets/svgs/nodejs.svg" alt="Node.js Logo"></div>
        <div class="deg320"><img src="assets/svgs/heroku.svg" alt="Heroku Logo"></div>
      </div>
      <div id="adsButtons" class="buttons leftButtons">
        <h1 class="liveView" ng-click="projects.liveView('ads')">View it Live</h1>
        <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/american-drapery-systems" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
      </div>
    </div>
    <div id="adsInfo" class="info">
      <div id="adsBlurb" class="blurb rightBlurb">
        <span><h3>THE PROBLEM</h3></span>
        <span><p>American Drapery Systems designs, builds, and installs custom commerical window treatments (blinds, shades, cubicle dividers, etc). The process for starting projects involves an intial site survey where measurements are taken of windows to be covered. Previously this was done in a note taking app on the client's tablet (Evernote&trade;). The process was akin to writing in a blank notebook, to later be entered into spreadsheets, emails, and PDFs. It was repetetive, time consuming, and unorganized. Often, images were taken of the job site and relevant files were uploaded (office blueprints, etc), further adding to the difficulty of keeping everything in one place.</p></span>
      </div>
      <div id="adsSolution" class="solution rightSolution">
        <div id="groupProjectBanner">
          <h3>THE SOLUTION</h3>
          <div id="primeLogo">
            <img id="sprimeSpiral" src="assets/svgs/primespiral.svg"/>
            <p>Group Project</p>
          </div>
        </div>
        <span><p>A comprhensive intial site survey, client information, and job management web application.</p></span>
        <span><p>An all-in-one place to save customer information, create new site surveys, take measurements, and upload relevant files.</p></span>
        <span><p>An organized central location to view and search through all current and past jobs, associated surveys, client information, and saved files.</p></span>
        <span><p>PDF and Printer friendly export options, elimating the need to enter job information into secondary applications</p></span>
      </div>
      <div id="adsTech" class="tech rightTech">
        <span><h3>TECHNOLOGIES USED</h3></span>
        <span><h4>FRONT END</h4></span>
        <span><p>AngularJS | Angular Material | Javascript | HTML5 | CSS3</p></span>
        <span><h4>BACK END</h4></span>
        <span><p>Firebase (authentication) | AWS.S3 & AWS-SDK | Node.js | Express.js | PostgreSQL | Heroku (hosting)</p></span>
        <span><h5>Colaboration managed via Git, GitHub, and GitHub Projects</h5></span>
      </div>
    </div>
  </div>
  <!-- SPOT CHECK -->
  <div id="spotCheckTitle" class="projectTitle">
    <span>SPOT CHECK</span>
  </div>
  <div id="spotCheckContainer" class="projectContainer reverseContainer">
    <div id="spotCheckSpinners" class="spinners rightSpinners">
      <div id="spotCheckSquare" class="square">
        <div class="square1">
          <img id="ads" class="resizeB" src="/assets/wallride.jpg" alt="screenshot"/>
        </div>
      </div>
      <div id="spotCheckSvgContainer" class="svgContainer">
        <div class="deg0"><img src="assets/svgs/angularjs.svg" alt="Angular Logo"></div>
        <div class="deg40"><img src="assets/svgs/aws.svg" alt="Amazon Web Services Logo"></div>
        <div class="deg80B"><img src="assets/svgs/sendgrid.svg" alt="SendGrid Logo"></div>
        <div class="deg120B"><img src="assets/svgs/mongodb.svg" alt="MongoDB Logo"></div>
        <div class="deg160"><img src="assets/svgs/html5.svg" alt="html5 logo"></div>
        <div class="deg200"><img src="assets/svgs/css3.svg" alt="CSS3 Logo"></div>
        <div class="deg240"><img src="assets/svgs/javascript.svg" alt="Javascript Logo"></div>
        <div class="deg280"><img src="assets/svgs/nodejs.svg" alt="Node.js Logo"></div>
        <div class="deg320"><img src="assets/svgs/heroku.svg" alt="Heroku Logo"></div>
      </div>
      <div id="spotCheckButtons" class="buttons rightButtons">
        <h1 class="liveView" ng-click="projects.liveView('spotCheck')">View it Live</h1>
        <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/spot-check" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
      </div>
    </div>
    <div id="spotCheckInfo" class="info">
      <div id="spotCheckBlurb" class="blurb leftBlurb">
        <span><h3>THE PROBLEM</h3></span>
        <span><p>Skateboarders around the world enjoy skating at all sorts of unique spots. With the exception of established skateparks, none of these can be found via typical map services (Google Maps&trade;). What about that sweet handrail behind the grocery store in uptown? How about the loading dock on the side of the downtown hardware store? How do skateboarders find these places if they are new to an area? How can they let the world know about a cool new spot they found tucked away in the suburbs?</p></span>
      </div>
      <div id="spotCheckSolution" class="solution leftSolution">
        <span><h3>THE SOLUTION</h3></span>
        <span><p>Spot Check! A web application developed to help skateboarders around the world share their favorite spots with other skateboards. New in town? Use the search feature to browse spots by location or keyword(stairs, ledge, hubba, rail, etc)... Found a sweet new spot that you think others should know about? Use the add spot feature to upload a new spot. Since a spot wouldn't be complete without photos, users can upload up to ten photos of their new spot at a time. The best part is, no registration required! Simply visit the website and begin browsing immidiately! To prevent robots from filling the spot database with nonsense, an email verification system is in place requiring users to verify their spot via email before it is hosted on the main website. The same system is used to allow only users who created a spot to edit/delete it.</p></span>
      </div>
      <div id="spotCheckTech" class="tech leftTech">
        <span><h3>TECHNOLOGIES USED</h3></span>
        <span><h4>FRONT END</h4></span>
        <span><p>AngularJS | Javascript | Twitter Bootstrap | HTML5 | CSS3</p></span>
        <span><h4>BACK END</h4></span>
        <span><p>Node.js | Express.js | AWS.S3 & AWS.SDK | MongoDB | Mongoose | SendGrid API | Heroku (hosting) | mLab</p></span>
      </div>
    </div>
  </div>
  <!-- CONWAY'S GAME OF LIFE -->
  <div id="lifeTitle" class="projectTitle">
    <span>CONWAY'S GAME OF LIFE</span>
  </div>
  <div id="adsContainer" class="projectContainer">
    <div id="adsSpinners" class="spinners leftSpinners">
      <div id="adsSquare" class="square leftSquare">
        <div class="square1">
          <img id="conway" class="resize" src="/assets/john_conway.jpg" alt="screenshot"/>
        </div>
      </div>
      <div id="adsSvgContainer" class="svgContainer">
        <div class="deg0"><img src="assets/svgs/angularjs.svg" alt="Angular Logo"></div>
        <div class="deg60"><img src="assets/svgs/html5.svg" alt="html5 logo"></div>
        <div class="deg120C"><img src="assets/svgs/css3.svg" alt="CSS3 Logo"></div>
        <div class="deg180"><img src="assets/svgs/javascript.svg" alt="Javascript Logo"></div>
        <div class="deg240"><img src="assets/svgs/nodejs.svg" alt="Node.js Logo"></div>
        <div class="deg300"><img src="assets/svgs/heroku.svg" alt="Heroku Logo"></div>
      </div>
      <div id="adsButtons" class="buttons leftButtons">
        <h1 class="liveView" ng-click="projects.liveView('life')">View it Live</h1>
        <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/game-of-life" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
      </div>
    </div>
    <div id="adsInfo" class="info">
      <div id="adsBlurb" class="blurb rightBlurb">
        <span><h3>WHAT IS IT?</h3></span>
        <span><p>The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970.</br><i><a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life" target="_blank" style="text-decoration: underline">-Wikipedia</a></i></p></span>
        <span><p>You saw this when you first came to my site. It is a zero-player game that uses a grid of "cells" (on this site 30x30, but could potentially be any size). There is an algorithm that checks each cell on the grid and it's neighbors state: alive or dead. Based on the amount of alive neighbors, each cell is toggled alive/dead or remains the same.</p></span>
      </div>
      <div id="adsSolution" class="solution rightSolution">
        <div id="groupProjectBanner">
          <h3>WHY DID I BUILD IT?</h3>
        </div>
        <span><p>I love logic, and building Life is a wonderful practice in logical thinking involving nested for-loops with further nested switches. It is also a great match for Angualar's two-way data binding. This would typically be a job for two dimensional arrays, which Javascript doesn't offer, unlike other programming languages. As such, my sollution contains an array of arrays, which works wonderfully with Angular's ngRepeat.</p></span>
        <span><p>I also added some extra features. When you toggle the "Methuselah Rain"
          feature, the server make a request to the
          <a href="https://www.random.org/" target="_blank" style="text-decoration: underline;">Random.org</a>
          <a href="https://api.random.org/json-rpc/1/" target="_blank" style="text-decoration: underline;"> API, </a>
          which sends back an array of 10 "truly" random numbers between 0 and the number of cells on the board.
           I then use this array to place a Methuselah -- <i>a pattern that takes a large number of generations
             in order to stabilize (known as its lifespan) and becomes much larger than its initial configuration
             at some point during its evolution. <a href="http://conwaylife.com/wiki/Methuselah" target="_blank" style="text-decoration: underline;">-Lifewiki</a></i>
              -- onto the board at that corresponding position. The end result is a game that continuously grows,
              despite user interaction (making it a great thing to run in the backgrond and control stuff like
              the animations on this page)</p></span>
      </div>
      <div id="adsTech" class="tech rightTech">
        <span><h3>TECHNOLOGIES USED</h3></span>
        <span><h4>FRONT END</h4></span>
        <span><p>AngularJS | Javascript | HTML5 | CSS3</p></span>
        <span><h4>BACK END</h4></span>
        <span><p>Node.js | Express.js | Random.org API | Heroku (hosting)</p></span>
      </div>
    </div>
  </div>
  <!-- OTHER STUFF -->
  <div id="stuffTitle" class="projectTitle">
    <span>MORE COOL STUFF I'VE BUILT</span>
  </div>
  <div id="stuffContainer" class="projectContainer">
    <div class="thingContainer">
      <h1>CONNECTED CALCULATOR</h1>
      <p>A calculator built on Node.js that does it's math on the server.</p>
      <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/calculator" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
    </div>
    <div class="thingContainer">
      <h1>COLOR BLOCK GAME</h1>
      <p>A simple color block picker game, that randomly generates a given number of blocks and a winner, then asks the player to find the color corresponding to the hex color value</p>
      <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/color-block-picker" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
    </div>
    <div class="thingContainer">
      <h1>ANGULAR COLOR BLOCK GAME</h1>
      <p>A remake of the original game, but using Angular rather than jQuery</p>
      <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/ng-color-blocks" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
    </div>
    <div class="thingContainer">
      <h1>PET FINDER</h1>
      <p>My first foray into working with an API. Uses the PetFinder API to retrieve info on a random cat, dog, or horse up for adoption on the Petfinder network. I also used the Sentencer Node package to generate bio in a Mad-Lib-Esque way. The end results are pretty fun.</p>
      <h1 class="gitView"><a href="https://GitHub.com/caseyhyde/pet-finder" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
    </div>
    <div class="thingContainer">
      <h1>WHO'S PIZZA</h1>
      <p>The first app we built as part of the Sigma Saturday Sessoins group I started (Hack-Potato). Helps whoever ordered the pizza in a group setting let everyone know who the pizza is for, and when's it's up for grabs to anyone.</p>
      <h1 class="gitView"><a href="https://GitHub.com/philgebauer/whos-pizza" target="_blank"><img src="/assets/github.svg"/>View on GitHub</a></h1>
    </div>
    <div class="thingContainer">
      <h1>I have 56 repositories on my GitHub, and another 4 that I contribute to.</h1>
      <h1 class="gitView"><a href="https://GitHub.com/caseyhyde" target="_blank"><img src="/assets/github.svg"/>Check out all of my repos</a></h1>
    </div>
  </div>
</div>
