<div id="projectsContainer">
  <div>
    <img id="ads" class="screenshot" src="/assets/blinds.jpeg" alt="screenshot"/>
    <p>Github</p>
  </div>
  <div>
    <img id="spotCheck" class="screenshot" src="/assets/ads-screen-shot.png" alt="screenshot"/>
    <p>Github</p>
  </div>
  <div>
    <img id="calculator" class="screenshot" src="/assets/ads-screen-shot.png" alt="screenshot"/>
    <p>Github</p>
  </div>
  <div>
    <img id="blockGame" class="screenshot" src="/assets/ads-screen-shot.png" alt="screenshot"/>
    <p>Github</p>
  </div>
  <div>
    <img id="thisSite" class="screenshot" src="/assets/ads-screen-shot.png" alt="screenshot"/>
    <p>Github</p>
  </div>
  <div>
    <img id="gameOfLife" class="screenshot" src="/assets/ads-screen-shot.png" alt="screenshot"/>
    <p>Github</p>
  </div>
</div>
