<div id="adsContainer" class="firstProjectContainer" ng-class="{ 'openProject' : projects.ads }">
  <div class="projectImage">
    <img id="ads" class="screenshotA" src="/assets/blinds.jpeg" alt="screenshot"/>
  </div>
  <div class="projectTitleA">
    <h1>American Drapery Systems</h1>
  </div>
  <div class="projectBlurbA">
    <h1><b>The Problem:</b></h1>
    <div class="projectProblem">
      <h3>American Drapery Systems designs, builds, and installs custom commerical window treatments (blinds, shades, cubicle dividers, etc). The process for starting projects involves an intial site survey where measurements are taken of windows to be covered. Previously this was done in a note taking app on the client's tablet (Evernote&trade;). The process was akin to writing in a blank notebook, to later be entered into spreadsheets, emails, and PDFs. It was repetetive, time consuming, and unorganized. Often, images were taken of the job site and relevant files were uploaded (office blueprints, etc), further adding to the difficulty of keeping everything in one place.</h3>
    </div>
    <h1><b>The Solution:</b></h1>
    <div class="projectSolution">
      <h3>A comprhensive intial site survey, client information, and job management web application.</h3>
      <h3>An all-in-one place to save customer information, create new site surveys, take measurements, and upload relevant files.</h3>
      <h3>An organized central location to view and search through all current and past jobs, associated surveys, client information, and saved files.</h3>
      <h3>PDF and Printer friendly export options, elimating the need to enter job information into secondary applications</h3>
      <h3></h3>
    </div>
    <h1><b>Technologies Used:</b></h1>
    <div class="projectTechnologies">
      <h2><b>Front End:<b></h2>
      <h4>AngularJS</h4>
      <h4>Angular Material</h4>
      <h4>HTML5</h4>
      <h4>CSS3</h4>
      <h4>Javascript</h4>
      <h2><b>Back End:</b></h2>
      <h4>Firebase (authentication)</h4>
      <h4>AWS.S3 & AWS-SDK (file upload/retrieval)</h4>
      <h4>Node.js</h4>
      <h4>Express.js</h4>
      <h4>PostgreSQL</h4>
      <h4>Heroku (hosting)</h4>
    </div>
  </div>
  <div class="projectDescription">
  </div>

</div>

<div id="spotCheckContainer" class="otherProjectContainer">
  <div class="projectImage">
    <img id="ads" class="screenshotB" src="/assets/wallride.jpg" alt="screenshot"/>
  </div>
  <div class="projectTitleB">
    <h1>Spot Check</h1>
  </div>
  <div class="projectBlurbB">
    <h1>An answer to the age-old question: "Where should we go skate?"</h1>
    <img class="arrow" src="/assets/right-arrow.svg"/>
  </div>
</div>

<div id="calculatorContainer" class="otherProjectContainer">
  <div class="projectImage">
    <img id="ads" class="screenshotA" src="/assets/calculator.jpeg" alt="screenshot"/>
  </div>
  <div class="projectTitleA">
    <h1>Connected Calculator</h1>
  </div>
  <div class="projectBlurbA">
    <h1>A not so simple calculator, with a Node.js backend doing the math</h1>
    <img class="arrow" src="/assets/right-arrow.svg"/>
  </div>
</div>

<div id="lifeContainer" class="otherProjectContainer">
  <div class="projectImage">
    <img id="ads" class="screenshotB" src="/assets/giphy.gif" alt="screenshot"/>
  </div>
  <div class="projectTitleB">
    <h1>Conway's Game of Life</h1>
  </div>
  <div class="projectBlurbB">
    <h1>Cellular Automata, just for fun</h1>
    <img class="arrow" src="/assets/right-arrow.svg"/>
  </div>
</div>

<div id="thisSiteContainer" class="otherProjectContainer">
  <div class="projectImage">
    <img id="ads" class="screenshotA" src="/assets/bestcustomgif.gif" alt="screenshot"/>
  </div>
  <div class="projectTitleA">
    <h1>This site</h1>
  </div>
  <div class="projectBlurbA">
    <h1>Here's how I built it</h1>
    <img class="arrow" src="/assets/right-arrow.svg"/>
  </div>
</div>

<div id="firstSiteContainer" class="otherProjectContainer">
  <div class="projectImage">
    <img id="ads" class="screenshotB" src="/assets/firstsite.png" alt="screenshot"/>
  </div>
  <div class="projectTitleB">
    <h1>My first website</h1>
  </div>
  <div class="projectBlurbB">
    <h1>Built 5 months ago to get into Prime Digital Academy. This was the first working thing I've ever built.</h1>
    <img class="arrow" src="/assets/right-arrow.svg"/>
  </div>
</div>
