<div scroll id="resume" ng-class="{'marginFix' : stick}" ng-click="resume.close()">
  <div id="resumeControls" ng-class="{'stuck' : stick}">
    <a href="/assets/resume_current.pdf" download><md-button class="md-raised">Download PDF</md-button></a>
    <!-- <md-button class="md-raised" ng-click="resume.showEmailModal()">View/Print PDF</md-button> -->
    <md-button class="last md-raised" ng-click="resume.email()">Email PDF</md-button>
  </div>
  <div id="resumeHeader">
    <h1 class="bold">Casey Hyde</h1>
    <p>Minneapolis, MN</p>
    <p>(507)459-5514</p>
    <p><a href="https://github.com/caseyhyde" target="_blank">https://github.com/caseyhyde</a></p>
    <p><a href="mailto:hyde.casey@gmail.com?Subject=Love%20The%20Website!">hyde.casey@gmail.com</a></p>
  </div>
  <div id="resumeSkills">
    <h1 class="bold">Skills</h1>
    <ul>
      <li>JavaScript</li>
      <li>AngularJS</li>
      <li>Angular Material</li>
      <li>jQuery</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Twitter Bootstrap</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>MongoDB</li>
      <li>PostgreSQl</li>
      <li>Amazone Web Services (AWS)</li>
      <li>AWS.S3</li>
      <li>Firebase</li>
      <li>Web APIs</li>
      <li>REST APIs</li>
      <li>AJAX</li>
      <li>Git</li>
      <li>GitHub</li>
      <li>C++</li>
      <li>PHP</li>
      <li>Balsamiq</li>
      <li>Public Speaking</li>
      <li>Sales</li>
      <li>Management</li>
    </ul>
  </div>
  <div id="continuedLearning">
    <h1 class="bold">Continued Learning</h1>
    <ul>
      <li>Started and am currently maintaining a weekly hac-a-thon</li>
      <li>Daily Commits to a portfolio site www.caseyhydedev.com</li>
      <li>Built Conways's Game of Life</li>
      <li>30 Day GitHub Challenge (commit-a-day for 30 days on something new (C++ and mastering VIM))</li>
      <li>AngularMN Meetup</li>
      <li>JavaScript MN Meetup</li>
      <li>AWS_MN Meetup</li>
      <li>NodeMN Meetup</li>
    </ul>
  </div>
  <div id="professionalExperience">
    <h1 class="bold">Professional Experience</h1>
    <div id="primeExperience">
      <h2 class="bold">Prime Digital Academy</h2>
      <h3>Full Stack Software Engineering Certificate</h3>
      <h4>January 2017</h4>
      <ul>
        <li>Intensive, immersive, full-time 18-week software engineering program.</li>
        <li>Focus on MEAN stack.</li>
        <li>Weekly public speaking engagements (Toastmasters)</li>
        <li>Multiple collaborative projects utilizing Git/GitHub as DVCS</li>
        <li class="bold">Solo Project: </li>
        <ul>
          <li>Full stack web application using the MEAN stack.</li>
          <li>Stores and searches through location specific skateboarding spots.</li>
          <ul>
            <li>Uses custom Angular directive to model and send multiple images to server simultaneously.</li>
            <li>Multer & Multer.S3 for handling multipart forms received via http and sent to AWS.S3.</li>
            <li>Node.js/Express.js Back End with a Mongo Database hosted on mLab.</li>
            <li>Server uses SendGrid API for email verification.</li>
            <li>AngularJS and Bootstrap front end.</li>
            <li>Collaboration managed via GitHub and GitHub projects.</li>
          </ul>
        </ul>
        <li class="bold">Group Project: </li>
        <ul>
          <li>MEAN stack application for custom commercial window treatment company.</li>
          <li>System for surveying hob sites, storing measurements/quantities/related files.</li>
          <ul>
            <li>Employs Firebase and AngularFire for user authentication.</li>
            <li>AWS.S3 file upload/retrieval (similar to solo project usage and implimentation).</li>
            <li>PostgreSQL database (hosted through Heroku)</li>
            <li>AngularJS front end with Angular Material</li>
            <li>Node.js/Express.js server.</li>
          </ul>
        </ul>
      </ul>
    </div>
    <div id="biteSquad">
      <h2 class="bold">Bite Squad</h2>
      <h3>Assigner</h3>
      <h4>June 2016 - October 2016</h4>
      <ul>
        <li>Live assigning of orders to restaurants, and drivers to orders.</li>
        <li>Manage drivers/restaurants in upwards of 6 markets simultaneously.</li>
        <li>Think: taxi dispatch meets air traffic controller.</li>
      </ul>
      <h3>Operations Support</h3>
      <h4>February 2016 - June 2016</h4>
      <ul>
        <li>Resolve issues with restaurants, drivers, and customers anywhere in the order process.</li>
        <li>Schedule and confirm future and catering orders.</li>
        <li>Manage customer support email inbox.</li>
        <li>Take incoming Live Chats.</li>
        <li>Schedule redeliveries, issue user credit, and pacify upset customers.</li>
        <li>Do all of this at the same time.</li>
        <li>Think: tech support meets air traffic controller.</li>
      </ul>
    </div>
    <div id="cleanEnergy">
      <h2 class="bold">Clean Energy Research L3C</h2>
      <h3>Solar Advocate</h3>
      <h4>August 2015 - November 2015</h4>
      <ul>
        <li>Outbound cold-calling (500+ calls/day).</li>
        <li>Identify potential customers for solar sales team.</li>
        <li>Utilize software to identify potential homes.</li>
        <li>Discuss financing, govt. incentives, etc...</li>
        <li>Set Appointments for sales team.</li>
        <li>Think: telemarketer.</li>
      </ul>
    </div>
    <div id="performanceBicycle">
      <h2 class="bold">Performance Bicycle</h2>
      <h3>Sales Manager</h3>
      <h4>June 2014 - October 2015</h4>
      <ul>
        <li>The face of sales for our location.</li>
        <li>Implement sales and marketing strategies as provided by corporate.</li>
        <li>Manage a team of 6-15 Sales Associates.</li>
        <li>Resolve customer service issues.</li>
        <li>Direct contact with manufactures on all warranty issues.</li>
        <li>Increase customer retention/membership sales.</li>
        <li>Increase sales volume/margins for our location.</li>
        <li>Think: Sales Manager.</li>
      </ul>
      <h3>Operations Manager</h3>
      <h4>December 2013 - June 2014</h4>
      <ul>
        <li>Inventory control.</li>
        <li>Manage repair shop.</li>
        <li>Back office shipping and receiving.</li>
        <li>Crew Scheduling.</li>
        <li>Warranty issues.</li>
        <li>Small parts ordering.</li>
        <li>Think: inventory guy.</li>
      </ul>
      <h3>Sales Associate</h3>
      <h4>June 2013 - December 2014</h4>
      <ul>
        <li>Bicycle, parts, repairs, and accessory sales.</li>
        <li>Welcome and assist all guests in store.</li>
        <li>Ring transactions through register.</li>
        <li>General cleaning and organizing of store (front and back).</li>
        <li>Think: retail grunt</li>
      </ul>
    </div>
    <div id="americanExteriors">
      <h2 class="bold">American Exteriors</h2>
      <h3>Door-to-Door Lead Generator</h3>
      <h4>June 2012 - April 2013</h4>
      <ul>
        <li>Solicit leads for window and siding sales team.</li>
        <li>Door-to-door marketing.</li>
        <li>Daily sales pitch training.</li>
        <li>Think: guy that ignored your “No soliciting” sign.</li>
      </ul>
    </div>
  </div>
  <div id="education">
    <h1 class="bold">Education</h1>
    <div id="primeEducation">
      <h3 class="bold">Prime Digital Academy</h3>
      <h4>Full Stack Software Engineering Certificate</h4>
      <h5>January 2017</h5>
    </div>
    <div id="undEducation">
      <h3 class="bold">Univeristy of North Dakota</h3>
      <h4>Pursuit of B.A. in Electrical Engineering</h4>
      <h5>2011 - 2012</h5>
    </div>
    <div id="techEducation">
      <h3 class="bold">Minnesota State Southeast Technical College</h3>
      <h4>General Education Credits to tranfer to UND</h4>
      <h5>2009 - 2011</h5>
    </div>
  </div>
</div>
