body {
  height: 100%;
  background-color: #141414;
  color: white;
  font-family: 'Amatic SC', cursive;
}

header img {
  height: 5vw;
}
#welcome, #hi {
  text-align: center;
  visibility: hidden;
}

#welcomeName {
  font-size: 4.5vw;
  width: 60%;
  margin: auto;
}

#welcome {
  font-size: 3.25vw;
}

#welcome p {
  font-size: 3vw;
}

#welcomeHi {
  margin-bottom: 0px;
  font-size: 7vw;
  width: 60%;
  margin: auto;
}

#welcomeName {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5vw;
  width: 60%;
}

#iLike {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  text-align: center;
}

li {
  list-style: none;
}

#likes, #goods {
  text-align: center;
  width: 60%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  font-size: 2vw;
}

#iLike {
  font-size: 3.25vw;
}

ul{
  margin-left: 200px;
  margin-right: 200px;
  border-left: 200px;
  border-right: 200px;
  overflow: hidden;
}
