body {
  height: 100%;
  /*max-height: 500px;
  overflow: hidden;*/
  background-color: #141414;
  /*background-color: white;*/
  color: #fefae8;
  font-family: 'Amatic SC', cursive;
}

header img {
  height: 5vw;
}
#welcome, #hi {
  text-align: center;
  visibility: hidden;
}

#welcome img {
  visibility: visible;
  max-width: 20%;
  max-height: 20%;
  display: inline-block;
  margin-bottom: -3.5%;
}

#clickTip {
  visibility: visible;
  position: absolute;
  right: 30%;
  top: 40%;
  /*right: 20%;*/
  z-index: 1000;
}

#welcomeName {
  font-size: 4.5vw;
  width: 60%;
  margin: auto;
}

#welcome {
  margin-top: 15%;
  font-size: 3.25vw;
  overflow: hidden;
}

#welcome p {
  font-size: 3vw;
}

#welcomeHi {
  margin-bottom: 0px;
  font-size: 7vw;
  width: 60%;
  margin: auto;
}

#welcomeName {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5vw;
  width: 60%;
}

#iLike {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  text-align: center;
}

li {
  list-style: none;
}

#likes, #goods {
  text-align: center;
  width: 60%;
  height: 200px;
  margin: auto;
  overflow: hidden;
  font-size: 2vw;
}

#iLike {
  font-size: 3.25vw;
}

ul{
  margin-left: 200px;
  margin-right: 200px;
  border-left: 200px;
  border-right: 200px;
  overflow: hidden;
}

/**********************************
             ANIMATIONS
***********************************/

@keyframes viewOut {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes viewIn {
  from {
    transform: rotateY(270deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.main.ng-enter {
  animation: viewIn 2s both ease-in;
}

.main.ng-leave {
  animation: viewOut 2s both ease-in;
}
