/***************************
          GENERAL
****************************/

/*******************
      COLORS

RED: #B36464
********************/

#helloWorld {
  font-size: 200px;
}

body {
  height: 100%;
  width: 100%;
  /*max-height: 500px;
  overflow: hidden;*/
  background-color: white;
  /*background-image: url('/assets/redrocks.png');*/
  /*background-color: white;*/
  color: black;
  /*font-family: 'Amatic SC', cursive;*/
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Poiret One', cursive;

}

#main {
  width: 100%;
  margin-top: 10%;
}
/****************************
            NAV
*****************************/
header {
  /*position: absolute;*/
  position: fixed;
  width: 100%;
  top: 3%;
}

#potato {
  width: 15%;
  float: left;
}

.navImg {
  width: 5vw;
  margin-left: 10%;
}
#tabs {
  text-align: center;
}

.highlighted {
  color: #713a16;
}

.tab {
  display: inline-block;
  font-size: 2vw;
  margin-right: 9%;
  padding: 10px;
  border-radius: 9px;
  transition: .25s;
  cursor: pointer;
}

.tab:hover {
  color: white;
  background-color: #a8a8a8;
  transition: .25s;
}
/**********************************
Credit to Jesse Couch
for this hamburger menu
https://codepen.io/designcouch/
***********************************/
#hamburger {
  width: 60px;
  height: 45px;
  float: right;
  margin-right: 2%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #525252;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 32px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

/****************************
          LANDING
*****************************/
#welcome, #hi {
  text-align: center;
  visibility: hidden;
}

#welcome img {
  visibility: visible;
  max-width: 20%;
  max-height: 20%;
  display: inline-block;
  margin-bottom: -3.5%;
}

#clickTip {
  visibility: visible;
  position: absolute;
  right: 30%;
  top: 40%;
  /*right: 20%;*/
  z-index: 1000;
}

#welcomeName {
  font-size: 4.5vw;
  width: 60%;
  margin: auto;
}

#welcome {
  margin-top: 5%;
  font-size: 3.25vw;
  overflow: hidden;
}

#welcome p {
  font-size: 3vw;
}

#welcomeHi {
  margin-bottom: 0px;
  font-size: 7vw;
  width: 60%;
  margin: auto;
}

#welcomeName {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5vw;
  width: 60%;
}

#iLike {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  text-align: center;
}

li {
  list-style: none;
}

#likes, #goods {
  text-align: center;
  width: 60%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  font-size: 2vw;
}

#iLike {
  font-size: 3.25vw;
}

ul{
  margin-left: 200px;
  margin-right: 200px;
  border-left: 200px;
  border-right: 200px;
  overflow: hidden;
}

#rightArrow {
  width: 50px;
  position: absolute;
  left: 85%;
  top: 50%;
}
/**********************************
               LIFE
***********************************/
#life {
  margin: 10% 20% 10% 20%;
  text-align: center;
}

#life h1 {
  font-size: 5vw;
  margin-bottom: 1%;
}

#life h4 {
  font-size: 3vw;
  margin-top: 1%;
}

#life img {
  width: 20vw;
}

#lifeButtons {
  width: inherit;
  text-align: center;
}

#help {
  float: left;
  position: relative;
  left: 40%;
}

#start {
  float: right;
  position: relative;
  right: 40%;
}

/**********************************
              PROJECTS
***********************************/
.firstProjectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-right: 0%;
  height: 1500px;
}

.otherProjectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  margin-right: 0%;
}

.projectImage {
  /*position: absolute;*/
  /*right: 0px;*/
  z-index: 10;
  /*flex: 1;*/
  /*border-radius: 50%;*/
}
/******************
      Buttons
*******************/
.viewButton {
  position: absolute;
  right: 5%;
  text-align: center;
  /*padding-right: 50px;*/
  cursor: pointer;
}

.viewButton img {
  width: 36px;
  padding-bottom: 5%;
}

.liveView:hover {
  background-color: #a8a8a8;
  color: white;
  border-radius: 9px;
  transition: .1s;
}

.liveView {
  border-radius: 9px;
}

.gitView {
  padding: 10px;
  border-radius: 9px;
}

.gitView:hover {
  background-color: #a8a8a8;
  color: white;
  transition: .1s;
  padding: 10px;
}

iframe {
  width: 80%;
  margin: 0% 10% 10% 10%;
  height: 750px;
  max-height: 100%;
}
/*******************
Right Aligned Images
********************/
.screenshotA {
  float: right;
  width: 40vw;
  height: 25vw;
  margin-right: 0%;
  border-bottom: 1vw solid white;
}

.projectTitleA {
  float: left;
  background-color: #B36464;
  color: white;
  padding-left: 5%;
  padding-right: 50%;
  position: absolute;
  left: 0%;
  z-index: 1;
}

.projectBlurbA {
  position: absolute;
  left: 5%;
  width: 40%;
  margin-top: 5%;
  color: #525252;
  /*position: absolute;;
  top: 10%;*/
}

/*******************
Left Aligned Images
********************/
.screenshotB {
  float: left;
  width: 40vw;
  height: 25vw;
  margin-left: 0%;
  border-bottom: 1vw solid white;
}

.projectTitleB {
  float: right;
  background-color: #B36464;
  color: white;
  padding-right: 5%;
  padding-left: 50%;
  position: absolute;
  right: 0%;
  z-index: 1;
}

.projectBlurbB {
  position: absolute;
  right: 5%;
  width: 40%;
  margin-top: 5%;
  color: #525252;
  /*position: absolute;;
  top: 10%;*/
}

.projectArrow {
  width: 50px;
  /*transform: rotate(90deg);*/
  position: relative;
  left: 25vw;
  top: 50px;
}

.arrow {
  width: 50px;
  transform: rotate(90deg);
  position: absolute;
  z-index: 11;
}

.backArrow {
  width: 50px;
  transform: rotate(180deg);
  position: absolute;
  left: 2%;
  top: 50%;
  cursor: pointer;
}

/**************
Loading Spinner
***************/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/**********************************
             ANIMATIONS
***********************************/

@keyframes viewOut {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes viewIn {
  from {
    transform: rotateY(270deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes potatoIn {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(.5);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes expandDown {
  from {
    height: 500px;
  }
  to {
    height: 2000px;
  }
}

.openProject {
  animation: expandDown 1.5s;
}

.rotate.ng-enter {
  animation: viewIn 1.5s both ease-in;
  animation-delay: 1s;
}

.navImg.ng-enter {
  animation: potatoIn 1s both ease-in;
  animation-delay: 1.5s;
}

.tab.ng-enter {
  animation: potatoIn 1s both ease-in;
  animation-delay: 1.5s;
}

.landingArrow.ng-enter {
  animation: potatoIn 1s both ease-in;
  animation-delay: 1s;
}
