#helloWorld {
  font-size: 200px;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(41, 41, 41);
  color: rgb(191, 191, 191);
  font-family: 'Poiret One', cursive;

}

#main {
  width: 100%;
  margin-top: 10%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
/****************************
            NAV
*****************************/
header {
  /*position: absolute;*/
  position: fixed;
  width: 100%;
  top: 0%;
  /*padding-top: 20px;*/
  /*background-color: rgb(96, 45, 45);*/
  color: rgb(128, 128, 128);
  z-index: 10000;
  /*box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.2);*/
}

#potato {
  width: 15%;
  float: left;
}

.navImg {
  width: 5vw;
  margin-left: 10%;
}
#tabs {
  text-align: center;
}

.highlighted {
  color: #713a16;
}

.tab {
  display: inline-block;
  font-size: 40px;
  margin-right: 9%;
  padding: 10px;
  border-radius: 9px;
  transition: .25s;
  cursor: pointer;
}

.tab:hover {
  /*color: white;*/
  /*background-color: #a8a8a8;*/
  transition: .25s;
  box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.2);
}
/**********************************
Credit to Jesse Couch
for this hamburger menu
https://codepen.io/designcouch/
***********************************/
#hamburger {
  width: 60px;
  height: 45px;
  /*float: right;*/
  position: absolute;
  right: 2%;
  margin-top: 15px;
  margin-right: 2%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  /*transition: .5s ease-in-out;*/
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #525252;
  border-radius: 9px;
  /*border: 1.5px white solid;*/
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  /*transition: .25s ease-in-out;*/
}

#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 32px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

/****************************
          LANDING
*****************************/
#welcome, #hi {
  text-align: center;
  visibility: hidden;
}

#welcome img {
  visibility: visible;
  max-width: 20%;
  max-height: 20%;
  display: inline-block;
  margin-bottom: -3.5%;
}

#clickTip {
  visibility: visible;
  position: absolute;
  right: 30%;
  top: 40%;
  /*right: 20%;*/
  z-index: 1000;
}

#welcomeName {
  font-size: 4.5vw;
  width: 60%;
  margin: auto;
}

#welcome {
  margin-top: 5%;
  font-size: 3.25vw;
  overflow: hidden;
}

#welcome p {
  font-size: 3vw;
}

#welcomeHi {
  margin-bottom: 0px;
  font-size: 7vw;
  width: 60%;
  margin: auto;
}

#welcomeName {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5vw;
  width: 60%;
}

#iLike {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  text-align: center;
}

#likes, #goods {
  text-align: center;
  width: 60%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  font-size: 2vw;
}

#iLike {
  font-size: 3.25vw;
}

ul{
  margin-left: 200px;
  margin-right: 200px;
  border-left: 200px;
  border-right: 200px;
  overflow: hidden;
}

#rightArrow{
  width: 50px;
  position: absolute;
  left: 85%;
  top: 50%;
}
/**********************************
               LIFE
***********************************/
#gameBoard {
  /*width: 100%;*/
  position: absolute;
  z-index: 5;
  margin-left: 20px;
  float: left;
  top: 150px;
  box-shadow: 20px -5px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* offset-x | offset-y | blur-radius | spread-radius | color */
/*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/

#lifeControls {
  position: absolute;
  left: 5px;
  width: 500px;
  top: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /*height: 25px;*/
  border: 1px solid darkgrey;
  border-radius: 10px;
  box-shadow: 1px -1px 10px 2px rgba(0, 0, 0, 0.2);
}

#lifeControls > * {
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

#lifeControls > *:hover {
  background-color: lightgrey;
  font-weight: bold;
}

#rate {
  width: 75px;
  height: 20px;
  border: none;
  border-bottom: 1px solid darkgrey;
  text-align: right;
}

#lifeInfo {
  position: absolute;
  top: 120px;
  left: 520px;
  margin-right: 6%;
}

#lifeInfo h4:first-child {
  margin-top: 0px;
  text-align: center;
}

#lifeArrow {
  width: 50px;
  position: absolute;
  top: 45%;
  right: 5px;
  cursor: pointer;
}

.cell {
  width: 10px;
  height: 10px;
  /*height: 5px;*/
  background-color: lightgrey;
  border: .1px solid rgb(41, 41, 41);
}

.row {
  display: flex;
  flex-direction: row;
}

.live {
  background-color: rgb(41,41,41);
}

.isAlive1 {
  background-color: rgb(41,41,41);
}

.isAlive0 {
  background-color: lightgrey;
}


/**********************************
              PROJECTS
***********************************/
#adsContainer {
  width: 100%;
  height: 100%;
}

#adsTitle {
  font-size: 40px;
  width: 90%;
  text-align: center;
  background-color: rgb(34, 34, 34);
  color: rgb(128, 128, 128);
  border-radius: 7px;
  /*padding-left: 50px;*/
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  top: 200px;
  right: 50px;
}

#adsBlurb {
  width: 40%;
  font-size: 15px;
  color: rgb(128, 128, 128);
  background-color: rgb(34, 34, 34);
  border-radius: 7px;
  padding: 5px 15px 5px 50px;
  /*padding-left: 50px;
  padding-right: 15px;
  padding-bottom: 5px;*/
  margin-right: 15px;
  position: absolute;
  top: 265px;
  right: 50px;
}

#adsSolution {
  width: 40%;
  font-size: 15px;
  color: rgb(128, 128, 128);
  background-color: rgb(34, 34, 34);
  border-radius: 7px;
  padding: 5px 15px 5px 50px;
  margin-right: 15px;
  position: absolute;
  top: 550px;
  right: 50px;
}

#adsTech {
  width: 40%;
  font-size: 15px;
  color: rgb(128, 128, 128);
  background-color: rgb(34, 34, 34);
  border-radius: 7px;
  padding: 5px 15px 5px 50px;
  margin-right: 15px;
  position: absolute;
  top: 795px;
  right: 50px;
}

#adsButtons {
  width: 400px;
  text-align: center;
  color: #808080;
  position: absolute;
  top: 825px;
  left: 100px;
}

#adsButtons img{
  width: 50px;
  padding-bottom: 15px;
}

#groupProjectBanner {
  width: 150px;
  height: 50px;
  color: #808080;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  right: 5px;
}

#groupProjectBanner img {
  padding: 5px;
  width: 50px;
  height: 50px;
}

#groupProjectBanner p {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  padding-left: 5px;
}

#spotCheckTitle {
  font-size: 40px;
  text-align: center;
  width: 90%;
  background-color: rgb(34, 34, 34);
  color: rgb(128, 128, 128);
  border-radius: 7px;
  margin-right: 15px;
  position: absolute;
  top: 1040px;
  right: 50px;
}

#spotCheckBlurb {
  width: 40%;
  font-size: 15px;
  color: rgb(128, 128, 128);
  background-color: rgb(34, 34, 34);
  border-radius: 7px;
  padding: 5px 15px 5px 50px;
  margin-right: 15px;
  margin-left: 5%;
  position: absolute;
  top: 1110px;
  /*left: 50px;*/
}

#spotCheckSolution {
  width: 40%;
  font-size: 15px;
  color: rgb(128, 128, 128);
  background-color: rgb(34, 34, 34);
  border-radius: 7px;
  padding: 5px 15px 5px 50px;
  margin-right: 15px;
  position: absolute;
  margin-left: 5%;
  top: 1355px;
  /*left: 50px;*/
}

#spotCheckTech {
  width: 40%;
  font-size: 15px;
  color: rgb(128, 128, 128);
  background-color: rgb(34, 34, 34);
  border-radius: 7px;
  padding: 5px 15px 5px 50px;
  margin-right: 15px;
  position: absolute;
  margin-left: 5%;
  top: 1705px;
  /*right: 50px;*/
}

#spotCheckButtons {
  width: 400px;
  text-align: center;
  color: #808080;
  position: absolute;
  top: 1700px;
  right: 100px;
}

#spotCheckButtons img{
  width: 50px;
  padding-bottom: 15px;
}

#groupProjectBanner {
  width: 150px;
  height: 50px;
  color: #808080;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  right: 5px;
}

#groupProjectBanner img {
  padding: 5px;
  width: 50px;
  height: 50px;
}

#groupProjectBanner p {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  padding-left: 5px;
}

.otherProjectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  margin-right: 0%;
  height: 1500px;
}

/******************
      IMAGES
*******************/

img.resize {
  max-width: 150%;
  max-height: 150%;
}

img.resizeB {
  max-width: 150%;
  max-height: 150%;
  transform: translate(-50px);
}

.square, .square div{
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

#adsSquare {
  position: absolute;
  top: 425px;
  left: 175px;
}

#spotCheckSquare {
  position: absolute;
  top: 1250px;
  right: 175px;
}

.square {
  animation: octoRotate 10s infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  transform: rotate(45deg);
  border-radius: 40px;
}

.square1 {
  animation: octoRotateBack 10s infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  transform: rotate(-45deg);
  border-radius: 40px;
}


#adsSvgContainer {
  top: 325px;
  left: 75px;
}

#adsSvgContainer div {
  top: 50%; left: 50%;
}

#spotCheckSvgContainer {
  top: 1150px;
  right: 80px;
}

#spotCheckSvgContainer div {
  top: 50%; left: 50%;
}

.svgContainer {
  position: absolute;
  width: 450px;
  height: 450px;
  animation: wheelSpin 60s infinite;
  animation-timing-function: linear;
}

.svgContainer div {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  margin: -25px;
}
.svgContainer div.deg40 {
  width: 75px;
  height: 75px;
}

.svgContainer div.deg80 {
  width: 75px;
  height: 75px;
}

.svgContainer div.deg80B {
  width: 90px;
  height: 90px;
}

.svgContainer div.deg120, div.deg120B {
  width: 90px;
  height: 90px;
}

.svgContainer div.deg280 {
  width: 75px;
  height: 75px;
}

.svgContainer div.deg320 {
  width: 40px;
  height: 40px;
}




.svgContainer img {
  display: block;
  width: 100%;
  animation: itemSpin 60s infinite;
  animation-timing-function: linear;
}

.deg0 {
  transform: translate(200px);
}

.deg40 {
  transform: rotate(40deg) translate(200px) rotate(-40deg);
}

.deg80{
  transform: rotate(80deg) translate(200px) rotate(-80deg);
}

.deg80B {
  transform: rotate(80deg) translate(210px) rotate(-80deg);
}

.deg120 {
  transform: rotate(120deg) translate(200px) rotate(-120deg);
}

.deg120B {
  transform: rotate(120deg) translate(210px) rotate(-120deg);
}

.deg160 {
  transform: rotate(160deg) translate(200px) rotate(-160deg);
}

.deg200 {
  transform: rotate(200deg) translate(200px) rotate(-200deg);
}

.deg240 {
  transform: rotate(240deg) translate(200px) rotate(-240deg);
}

.deg280 {
  transform: rotate(280deg) translate(200px) rotate(-280deg);
}

.deg320 {
  transform: rotate(320deg) translate(210px) rotate(-320deg);
}

.deg320 img {
  width: 25;
  height: 25;
}

/******************
      Buttons
*******************/

.liveView {
  cursor: pointer;
  width: 190px;
  margin: auto;
}


iframe {
  width: 80%;
  margin: 0% 10% 10% 10%;
  height: 750px;
  max-height: 100%;
}

.projectArrow {
  width: 50px;
  /*transform: rotate(90deg);*/
  position: relative;
  left: 25vw;
  top: 50px;
}

.arrow {
  width: 50px;
  transform: rotate(90deg);
  position: absolute;
  z-index: 11;
}

.backArrow {
  width: 50px;
  transform: rotate(180deg);
  position: absolute;
  left: 2%;
  top: 50%;
  cursor: pointer;
}

/**************
Loading Spinner
***************/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/**********************************
             ANIMATIONS
***********************************/

@keyframes viewOut {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes viewIn {
  from {
    transform: rotateY(270deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes potatoIn {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(.5);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes expandDown {
  from {
    height: 500px;
  }
  to {
    height: 2000px;
  }
}

@keyframes octoRotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-135deg);
  }
}

@keyframes octoRotateBack {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes wheelSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes itemSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.openProject {
  animation: expandDown 1.5s;
}

.rotate.ng-enter {
  animation: viewIn 1.5s both ease-in;
  animation-delay: 1s;
}

.navImg.ng-hide.ng-hide-animate {
  display: none !important;
}

.tab.ng-enter {
  animation: potatoIn 1s both ease-in;
  animation-delay: 1.5s;
}

.landingArrow.ng-enter {
  animation: potatoIn 1s both ease-in;
  animation-delay: 1s;
}
