<md-dialog md-theme-watch md-theme="dark-grey">
  <md-dialog-title>
    <md-dialog-text>
      <span class="md-headline">Email this resume</span>
    </md-dialog-text>
  </md-dialog-title>
  <md-dialog-content>
    <md-input-container>
      <label>Email to send resume to</label>
      <input ng-model="dialog.toEmail"/>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-content>
    <md-input-container>
      <label>Include a message</label>
      <textarea rows="5" nd-model="dialog.message"></textarea>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="dialog.send()">Send</md-button>
  </md-dialog-actions>
</md-card>
